@import './mixins';

$magentaPrimary: #191d38;
$magentaSecondary: #736cc7;

$lightPrimary: #017293; //05b0ff;
$lightSecondary: #028fb9; //5d899b;//03a9f3;

$darkPrimary: #24262d;
$darkSecondary: #c0c4c8;

$themes: (
  magenta: (
    background: #f0f6ff,
    topBarBackground: #ffffff,
    topBarShadow: rgba(18, 106, 211, 0.08),
    topBarText: black,
    menu: #161931,
    logo: $magentaPrimary,
    logoText: white,
    menuBorder: $magentaSecondary,
    menuBurger: white,
    menuGroupHeader: rgba(120, 141, 180, 0.6),
    selectedMenuGroup: white,
    hoverMenuGroup: white,
    menuItem: rgba(120, 141, 180, 0.6),
    hoverMenuItem: white,
    selectedMenuItem: white,
    button: $magentaSecondary,
    buttonText: white,
    buttonHover: $magentaPrimary,
    buttonTextHover: white,
    scrollbarBackground: #f5f5f5,
    scrollbarThumb: #000000,
    scrollbarTrack: #f5f5f5,
    text: $magentaPrimary,
    tableHeader: $magentaSecondary,
    tableHeaderText: white,
    evenRow: white,
    evenRowText: black,
    oddRow: rgb(182, 195, 219),
    //rgba(120, 141, 180, 0.6),
    oddRowText: black,
    activeRow: $magentaPrimary,
    activeRowText: white,
    tableFooter: $magentaSecondary,
    tableFooterText: white,
    contextMenu: white,
    contextMenuText: $magentaSecondary,
    contextMenuHover: $magentaSecondary,
    contextMenuHoverText: white,
    controlBackColor: #ebeaf9,
    searchInMenuColor: #161931,
    searchInMenuTextColor: rgba(120, 141, 180, 0.6),
    searchInMenuBorderColor: rgba(120, 141, 180, 0.6),
    accordionHeader: $magentaSecondary,
    accordionHeaderText: white,
  ),
  light: (
    background: #edf1f5,
    topBarBackground: $lightSecondary,
    topBarShadow: rgba(255, 255, 255, 0.5),
    topBarText: rgba(256, 256, 256, 1),
    menu: #ffffff,
    logo: $lightPrimary,
    logoText: white,
    menuBorder: $lightSecondary,
    menuBurger: White,
    menuGroupHeader: #616775,
    selectedMenuGroup: $lightPrimary,
    hoverMenuGroup: $lightPrimary,
    menuItem: #616775,
    hoverMenuItem: $lightPrimary,
    selectedMenuItem: $lightPrimary,
    button: $lightSecondary,
    buttonText: white,
    buttonHover: #08b4ee,
    buttonTextHover: $lightSecondary,
    scrollbarBackground: #f5f5f5,
    scrollbarThumb: #017293,
    scrollbarTrack: #f5f5f5,
    text: #191d38,
    tableHeader: $lightSecondary,
    tableHeaderText: white,
    evenRow: white,
    evenRowText: black,
    oddRow: #cbe7f0,
    oddRowText: black,
    activeRow: #017293,
    activeRowText: white,
    tableFooter: $lightSecondary,
    tableFooterText: white,
    contextMenu: white,
    contextMenuText: $lightSecondary,
    contextMenuHover: $lightSecondary,
    contextMenuHoverText: white,
    controlBackColor: #edf6f9,
    searchInMenuColor: #ffffff,
    searchInMenuTextColor: #616775,
    searchInMenuBorderColor: #616775,
    accordionHeader: $lightSecondary,
    accordionHeaderText: white,
  ),
  dark: (
    background: #2f323b,
    topBarBackground: $darkPrimary,
    topBarShadow: $darkPrimary,
    topBarText: white,
    menu: #393c45,
    logo: $darkPrimary,
    logoText: white,
    menuBorder: #fefefe,
    menuBurger: white,
    menuGroupHeader: $darkSecondary,
    selectedMenuGroup: #fefefe,
    hoverMenuGroup: #fefefe,
    menuItem: $darkSecondary,
    hoverMenuItem: #fefefe,
    selectedMenuItem: #fefefe,
    button: $darkSecondary,
    buttonText: $darkPrimary,
    buttonHover: $darkPrimary,
    buttonTextHover: $darkSecondary,
    scrollbarBackground: #f5f5f5,
    scrollbarThumb: #000000,
    scrollbarTrack: #f5f5f5,
    text: #fefefe,
    tableHeader: $darkPrimary,
    tableHeaderText: white,
    evenRow: white,
    evenRowText: black,
    oddRow: $darkSecondary,
    oddRowText: black,
    activeRow: $darkPrimary,
    activeRowText: white,
    tableFooter: $darkPrimary,
    tableFooterText: white,
    contextMenu: white,
    contextMenuText: $darkPrimary,
    contextMenuHover: $darkPrimary,
    contextMenuHoverText: white,
    controlBackColor: #f5f5f5,
    searchInMenuColor: #393c45,
    searchInMenuTextColor: $darkSecondary,
    searchInMenuBorderColor: $darkSecondary,
    accordionHeader: $darkPrimary,
    accordionHeaderText: white,
  ),
);
